<h1 id="homehead">Welcome to ela-Bar-ate</h1>

<div class="home">
  <div class="ues">
    <ul>
      <% @ues_bars.each_with_index do |bar,id| %>
      <li>
        <p><a href="/home/b/<%= bar["name"]%>"><strong><%= bar["name"]%></strong></a></p>
        <p><img src="<%=bar["picture"] %>"></p>
        <p><%= bar["text"] %></p>
        <p><%=bar["location"] %></p>
        <p><a href="/home/r/<%= bar["region"] %>"><%= bar["region"] %></a></p>
        <p><%=bar["author"] %></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="uws">
    <ul>
      <% @uws_bars.each_with_index do |bar,id| %>
      <li>
        <p><a href="/home/b/<%= bar["name"]%>"><strong><%= bar["name"]%></strong></a></p>
        <p><img src="<%=bar["picture"] %>"></p>
        <p><%= bar["text"] %></p>
        <p><%=bar["location"] %></p>
        <p><a href="/home/r/<%= bar["region"] %>"><%= bar["region"] %></a></p>
        <p><%=bar["author"] %></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="les">
    <ul>
      <% @les_bars.each_with_index do |bar,id| %>
      <li>
        <p><a href="/home/b/<%= bar["name"]%>"><strong><%= bar["name"]%></strong></a></p>
        <p><img src="<%=bar["picture"] %>"></p>
        <p><%= bar["text"] %></p>
        <p><%=bar["location"] %></p>
        <p><a href="/home/r/<%= bar["region"] %>"><%= bar["region"] %></a></p>
        <p><%=bar["author"] %></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="midtown">
    <ul>
      <% @midtown_bars.each_with_index do |bar,id| %>
      <li>
        <p><a href="/home/b/<%= bar["name"]%>"><strong><%= bar["name"]%></strong></a></p>
        <p><img src="<%=bar["picture"] %>"></p>
        <p><%= bar["text"] %></p>
        <p><%=bar["location"] %></p>
        <p><a href="/home/r/<%= bar["region"] %>"><%= bar["region"] %></a></p>
        <p><%=bar["author"] %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<a href="/home/new">Add A Bar</a>

