<h1>Checkout <%=@bar["name"]%></h1>

<ul class="bar">
  <li>
    <p><img src="<%= @bar["picture"] %>"></p>
    <p><%= @bar["text"] %></p>
    <p><%= @bar["location"] %></p>
    <p><%= @bar["region"] %></p>
    <p><%= @bar["author"] %></p>
  </li>
</ul>


<a href="/home">Home</a>
